a {
	font-size: 80px;
	font-family: sans-serif;
	display: block;
	background-color: rgb(3, 134, 134);
	color: white;
	text-align: center;
	text-transform: capitalize;
	padding: 50px;
	width: 350px;
	text-decoration: none;
	border-bottom: 30px solid rgb(3, 81, 70);
	margin: auto;
}
