body {
	font-family: "El Messiri", sans-serif;
	font-size: 1.5vw;
	background-color: black;
	color: black;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/*
	2D Transformation
	- Matrix
	Syntax => matrix( scaleX(), skewY(), skewX(), scaleY(), translateX(), translateY() )
*/

.shape {
	margin: 200px auto;
	width: 200px;
	height: 200px;
	background-color: #219ebc;
	display: flex;
	justify-content: center;
	align-items: center;
}

.shape div {
	width: 180px;
	height: 180px;
	background-color: #8ecae6;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 30px;
	transition: 1s;
}

.shape div:hover {
	transform: matrix(1.2, 0.2679, 0, 1.2, 20, 20);
	transform: translateX(20px) translateY(20px) scaleX(1.2) skewY(15deg)
		skewX(0deg) scaleY(1.2);
}
