body {
	font-family: "El Messiri", sans-serif;
	font-size: 1.5vw;
	background-color: #f08080;
	color: white;
}

.shape {
	margin: 200px auto;
	width: 200px;
	height: 200px;
	background-color: #dda15e;
	display: flex;
	justify-content: center;
	align-items: center;
}

.shape div {
	width: 180px;
	height: 180px;
	background-color: rgb(255 0 0 / 39%);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 30px;
	transition: 1s;
}

.shape div:hover {
	transform: translate(50%, 50%);
}
