body {
	font-family: "El Messiri", sans-serif;
	font-size: 1.5vw;
	background-color: #000814;
	color: white;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/*
	What's Next ??
	- 4 Practical Designs
	- HTML + CSS Tutorials
	- CSS Battle
	- Front-End Mentor
	- Elzero Challenges
	- Practice Practice Practice !!
*/
