body {
	font-family: "El Messiri", sans-serif;
	font-size: 1.5vw;
	background-color: #472d30;
}

div {
	margin: 100px auto;
	padding: 10px !important;
	width: 400px;
	background-color: #723d46 !important;
	color: #ffe1a8 !important;
	font-size: 0px !important;
	text-align: center;
	font-weight: bold;
	border: 2px solid white !important;
	box-shadow: 10px 10px #e26d5c;
}

div::before {
	content: "ElZero";
	font-size: 40px !important;
	font-style: italic;
}
