body {
	font-family: "El Messiri", sans-serif;
	font-size: 1.5vw;
	background-color: #003049;
	color: white;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.parent .child:nth-of-type(2) {
	color: red;
}
