body {
	font-family: "El Messiri", sans-serif;
	font-size: 1.5vw;
	background-color: #023047;
	color: white;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

div {
	width: 200px; /* Should be 50px */
	height: 200px; /* Should be 50px */
	border-radius: 50%;
	border: 15px solid #fb8500;
	border-left-color: transparent;
	animation-name: spin;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

div::after,
div::before {
	box-sizing: border-box;
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}

div::before {
	width: 245px;
	height: 245px;
	border: 15px solid #219ebc;
	border-right-color: transparent;
}

div::after {
	width: 290px;
	height: 290px;
	border: 15px solid #ffb703;
	border-top-color: transparent;
}

div:hover {
	animation-play-state: paused;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
