body {
	font-family: "Alfa Slab One", cursive;
	font-family: "El Messiri", sans-serif;
	font-size: 1.4vw;
	background-color: #011627;
}

table {
	width: 100%;
	border-radius: 10px;
	border: 5px solid #22577a;
	border-spacing: 3px;
}

table td {
	text-align: center;
	padding: 10px;
	background-color: #52b788;
	color: white;
	border: 5px solid #242423;
	border-radius: 5px;
	font-style: italic;
}

thead td {
	border-style: double;
	border-width: 15px;
	text-decoration: underline;
	text-transform: uppercase;
	background-color: #22577a;
	color: white;
	font-weight: bold;
}
